*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

main {
  flex-grow: 1;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Public Sans";
  line-height: 2.4rem;
  color: #9597a5;
}

.container {
  width: 100%;
  max-width: 1173px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
