@mixin font(
  $size,
  $lineHeight,
  $weight: 400,
  $color: #fff,
  $family: "Inter"
) {
  font: {
    size: $size;
    weight: $weight;
    family: $family;
  }
  line-height: $lineHeight;
  color: $color;
}

@mixin responsive($device) {
  @if $device == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $device == mobile {
    @media screen and (max-width: 400px) {
      @content;
    }
  }
}
